body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 100vh;
  position: relative;
}

.logo {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 30%;
  left: 32%;
  
}

/* STYLE JUDUL */
hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px black;
}

/* STYLE PRODUK */
.menu {
  font-weight: 400;
  background-color: rgb(248, 248, 248);
  min-height: 120px;
}

.kategori {
  margin-top: 0px;
}

.ti {
  width: 80px;
}

.snack {
  width: 100%;
}

.produk {
  font-weight: 500;
  font-size: .7em;
}

.harga {
  font-size: .6em;
  color: rgb(112, 112, 112);
}
